@model GiftingBoard.Models.Board
@{
    ViewBag.Title = "Details Board";
    GiftingBoard.Models.GiftingBoardEntities db = new GiftingBoard.Models.GiftingBoardEntities();
    var containuser = db.Members.Select(s => s.memberId).ToArray();
    var userlist = db.AspNetUsers.Where(w => !containuser.Contains(w.Id) && w.AspNetRoles.FirstOrDefault().Name != "Admin").Select(s => new { s.FirstName, s.Id }).ToList();
    if (Model.BoardValueId == 2)
    {
        var tuser = db.Members.Where(w => w.Board.BoardValueId == 2).Select(s => s.memberId).ToArray();
        containuser = db.Members.Where(w => w.Board.Isexpired == true && !tuser.Contains(w.memberId)).Select(s => s.corememberId).ToArray();
        var listuser = db.Members.Where(w => w.BoardId == Model.Id).Select(s => s.memberId).ToArray();
        userlist = db.AspNetUsers.Where(w => !listuser.Contains(w.Id) && containuser.Contains(w.Id) && w.AspNetRoles.FirstOrDefault().Name != "Admin").Select(s => new { s.FirstName, s.Id }).ToList();

    }


}
<style>
    .boardbtn {
        background-color: #00bcd4;
        color: black;
        padding-top: 4px;
        font-weight: bold;
        padding-bottom: 6px;
        border-radius: 40% 40% 40% 40%;
        font-size: 15px;
        text-align: center;
        max-width: 200px;
    }

    .boardstyle {
        background-color: #00bcd4;
        border-radius: 40% 40% 0% 0%;
        padding-top: 20px;
        color: black;
        font-weight: bold;
        font-size: 25px;
        text-align: center;
        padding-bottom: 20px;
        cursor:pointer;
    }

    .boardstylecenter {
        background-color: black;
        padding-top: 5px;
        color: white;
        text-align: center;
        padding-bottom: 5px;
    }

    .boardstyle1 {
        background-color: #00bcd4;
        border-radius: 0% 0% 40% 40%;
        padding-top: 20px;
        color: black;
        font-weight: bold;
        text-align: center;
        font-size: 25px;
        padding-bottom: 20px;
        cursor: pointer;
    }
</style>
<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">mail_outline</i>
                        </div>
                        <h4 class="card-title font-weight-bold">View Board</h4>
                    </div>
                    <div class="card-body ">
                        <div class="col-12">
                            <div class="row">

                                <div class="col-12" id="selects" hidden>

                                    <div class="form-group" id="select">
                                        <select class="form-control" name="corememberId" required>
                                            <option value="">Select</option>
                                            @{
                                                var core1 = Model.Members.Where(x => x.isCoremember == true).FirstOrDefault();
                                                var corr2 = Model.Members.Where(x => x.isCoremember == true).LastOrDefault();

                                            }

                                            @if (Model.Members.Where(x => x.corememberId == core1.memberId).Count() < 4)
                                            {
                                                <option value="@core1.memberId">@core1.AspNetUser.FirstName</option>

                                            }
                                            @if (Model.Members.Where(w => w.corememberId == corr2.memberId).Count() < 4)
                                            {
                                                <option value="@corr2.memberId">@corr2.AspNetUser.FirstName</option>

                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="mr-3"><b>Board Name</b>:</label><span>@Model.Name @if (Model.Number != 0) { Write(Model.Number); }</span>
                                </div>
                                <div class="col-md-6">
                                    <label class="mr-3"><b>Board Type</b>:</label><span>@Model.BoardValue.Value</span>
                                </div>
                                <div class="col-md-6">
                                    <label class="mr-3"><b>Total Member</b>:</label><span>@Model.Members.Count()</span>
                                </div>
                                <div class="col-12"></div>
                                <div class="col-md-6">
                                    <label class="mr-3"><b>Core Member1</b>:</label><span>@core1.AspNetUser.FirstName</span>
                                </div>
                                <div class="col-md-6">
                                    <label class="mr-3"><b>Core Member2</b>:</label><span>@corr2.AspNetUser.FirstName</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <h4 class="text-center">Members</h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Members</th>
                                                <th>Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ int i = 0;}
                                            @foreach (var itm in Model.Members.Where(w => w.corememberId == core1.memberId).ToList())
                                            {
                                                i++;
                                                <tr>
                                                    <td class="font-weight-bold">@i</td>
                                                    <td>@itm.AspNetUser.FirstName</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>

                                </div>
                                <div class="col-sm-6">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Members</th>
                                                <th>Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var itm in Model.Members.Where(w => w.corememberId == corr2.memberId).ToList())
                                            {
                                                i++;
                                                <tr>
                                                    <td class="font-weight-bold">@i</td>
                                                    <td>@itm.AspNetUser.FirstName</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="font-weight-bold">Board Type: @Model.BoardValue.Value</h4>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            @foreach (var itm in Model.Members.Where(w => w.corememberId == core1.memberId).ToList())
                            {
                                <div class="col-6 " style="padding-left:30px">
                                    <p class="boardbtn mb-2">@itm.AspNetUser.FirstName</p>
                                </div>
                            }
                            @for (int ii = 0; ii < 4 - Model.Members.Where(w => w.corememberId == core1.memberId).Count(); ii++)
                            {
                                <div class="col-6 text-right mb-2 " style="padding-left:30px">
                                    <p class="boardbtn bg-warning">Available</p>
                                </div>
                            }

                            <div class="col-12 mt-2 mb-2" style="padding-left:30px">
                                <div class="boardstyle openbankdetailmodal" data-toggle="modal" data-target="#BankDetailModel" data-bank="@core1.AspNetUser.BankName"
                                     data-accname="@core1.AspNetUser.BankName" data-accnum="@core1.AspNetUser.BankName" data-routing="@core1.AspNetUser.BankName" data-type="@core1.AspNetUser.BankName">
                                    <p>@core1.AspNetUser.FirstName</p>
                                </div>
                                <div class="boardstylecenter"><p></p></div>
                                <div class="boardstyle1 openbankdetailmodal" data-toggle="modal" data-target="#BankDetailModel" data-bank="@corr2.AspNetUser.BankName"
                                     data-accname="@corr2.AspNetUser.AccountHolderName" data-accnum="@corr2.AspNetUser.AccountNumber" data-routing="@corr2.AspNetUser.RoutingNumber" data-type="@corr2.AspNetUser.AccountType"><p>@corr2.AspNetUser.FirstName</p></div>
                                </div>
                                @foreach (var itm in Model.Members.Where(w => w.corememberId == corr2.memberId).ToList())
                                {
                                    <div class="col-6 " style="padding-left:30px">
                                        <p class="boardbtn mb-2">@itm.AspNetUser.FirstName</p>
                                    </div>
                                }
                                @for (int ii = 0; ii < 4 - Model.Members.Where(w => w.corememberId == corr2.memberId).Count(); ii++)
                                {
                                    <div class="col-6 text-right mb-2 " style="padding-left:30px">
                                        <p class="boardbtn bg-warning">Available</p>
                                    </div>
                                }

                                @*<div class="col-6 mt-3">
                                        <button class="btn btn-info"><i class="fa fa-save mr-2"></i>Finish</button>
                                    </div>*@
                                @if (Model.Members.Count() < 10 && User.IsInRole("Admin"))
                                {
                                    <div class="col-6 mt-3 text-right">
                                        <button class="btn btn-info" onclick="addmember()"><i class="fa fa-plus mr-2"></i>Add A Member</button>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Member</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="@Url.Action("addmember","Dashboard")">
                    <input type="hidden" name="BoardId" value="@Model.Id" />
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6" id="modelselect">
                            </div>
                            <div class="col-6">
                                <select class="form-control" name="memberId" required>
                                    <option>Select User</option>
                                    @foreach (var itm in userlist)
                                    {
                                        <option value="@itm.Id">@itm.FirstName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                                <div class="col-6 text-right">
                                    <button type="submit" @if (userlist.Count() < 1) { Write("disabled"); } class="btn btn-info"><i class="fa fa-plus mr-2"></i>Add Member</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="BankDetailModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Account Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row detail">

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                            @*<div class="col-6 text-right">
                                    <button type="submit" @if (userlist.Count() < 1) { Write("disabled"); } class="btn btn-info"><i class="fa fa-plus mr-2"></i>Add Member</button>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script>
        $(document).on("click", ".openbankdetailmodal", function () {
            $('.detail').html("");
            debugger;
            var BankName = $(this).data('bank') == "" ? "N/A" : $(this).data('bank');
            var AccountHolderName = $(this).data('accname') == "" ? "N/A" : $(this).data('accname');
            var AccountNumber = $(this).data('accnum') == "" ? "N/A" : $(this).data('accnum');
            var RoutingNumber = $(this).data('routing') == "" ? "N/A" : $(this).data('routing');
            var AccountType = $(this).data('type') == "" ? "N/A" : $(this).data('type');

            var row = '<div class="col-md-12"><div class="row p-2" style="border-bottom:1px solid #00000026;"><div class="col-md-6"><h5 class="bmd-label-floating">Bank Name </h5></div>' +
                '<div class="col-md-6"><h4 class="pull-right">' + BankName + ' </h4></div></div></div >' +
                '<div class="col-md-12"><div class="row p-2" style="border-bottom:1px solid #00000026;"><div class="col-md-6"><h5 class="bmd-label-floating">Account Holder Name </h5></div>' +
                '<div class="col-md-6"><h4 class="pull-right">' + AccountHolderName + ' </h4></div></div></div >' +
                '<div class="col-md-12" > <div class="row p-2" style="border-bottom:1px solid #00000026;"><div class="col-md-6"><h5 class="bmd-label-floating">Account Number </h5></div>' +
                '<div class="col-md-6"><h4 class="pull-right">' + AccountNumber + ' </h4></div></div></div>' +
                '<div class="col-md-12"><div class="row p-2" style="border-bottom:1px solid #00000026;"><div class="col-md-6"><h5 class="bmd-label-floating">Routing Number </h5></div>' +
                '<div class="col-md-6"><h4 class="pull-right">' + RoutingNumber + ' </h4></div></div></div>' +
                '<div class="col-md-12"><div class="row p-2" style="border-bottom:1px solid #00000026;"><div class="col-md-6"><h5 class="bmd-label-floating">Account Type </h5></div>' +
                '<div class="col-md-6"><h4 class="pull-right">' + AccountType + ' </h4></div></div></div>';
            $('.detail').append(row);
        });
        function addmember() {
            $('#modelselect').html($('#select').html());
            $('#exampleModal').modal('show');
        }
    </script>